.article-list {
  &__body {
    padding-top: 80px;
    min-height: calc(100vh - 60px);
  }

  &__title {
    font-weight: bold;
    font-size: 26px;
    margin: 0 0 40px 10px;
    color: #242424;
  }

  &__grid {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 400px;
    padding: 0 10px;
    margin-bottom: 40px;

    &-item {
      position: relative;
      height: 100%;
      cursor: pointer;
      overflow: hidden;
      flex: 0 1 195px;
      &:nth-child(2) {
        margin-bottom: 10px;
      }
      &:first-child {
        flex: 0 1 100%;
        margin-right: 10px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: 2;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.48) 100%);
      }

      &:hover .article-list__grid-img{
        transform: scale(1.15);
      }
    }

    &-img {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      transition: transform .4s ease;
    }

    &-name {
      position: absolute;
      bottom: 20px;
      left: 20px;
      font-family: 'Montserrat', serif;
      font-size: 16px;
      color: #fff;
      z-index: 3;
    }
  }

  &__list {

    &-item {
      display: flex;
      margin-bottom: 30px;
    }
  }

  &__item {
    &-img {
      width: 325px;
      height: 235px;
      margin-right: 40px;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }

    &-info {
      width: 335px;
      color: #161616;
    }

    &-name {
      font-size: 20px;
      font-weight: 600;
      font-family: 'Montserrat', serif;
      margin-bottom: 10px;
    }

    &-text {
      font-size: 16px;
      font-family: 'Montserrat', serif;
      font-weight: 300;
      height: 100px;
      line-height: 20px;
      margin-bottom: 25px;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    &-btn {
      display: inline-block;
      text-decoration: none;
      width: 120px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      background-color: #4CA1AF;
      color: #fff;
      box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
      cursor: pointer;
    }
  }
}

.article {
  &__top {
    height: 50vh;
    width: 100%;
    margin-top: 50px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  
  &__body.container {
    width: 1100px;
    padding: 50px 50px 50px 90px;
    background-color: #F9F9F9;
    box-shadow:  0 10px 10px rgba(0, 0, 0, 0.25);
    transform: translateY(-150px);
  }
}