.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  line-height: 80px;
  font-size: 18px;
  background-color: #fff;
  z-index: 1;

  &__logo {
    display: inline-block;
    width: 130px;
    height: 60px;
    vertical-align: middle;
    margin-right: 20px;
    background: url("/static/Header/photo_2019-06-07 23.11.svg") no-repeat center;
    background-size: contain;
  }

  &__item {
    display: inline-block;
    height: 100%;
    padding: 0 30px;
    text-align: center;
    vertical-align: top;
    color: #334062;
    transition: all .3s ease;
    cursor: pointer;


    //&:hover {
    //  color: #fff;
    //  background-color: #334062;
    //}
  }

  &__login {
    color: #9BBF51;
  }

  &__account {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;

    a {
      text-decoration: none;
    }
  }

  &__edit {
    width: 170px;
    height: 100%;
    text-align: center;
    font-size: 18px;
    color: #fff;
    background-color: #4CA1AF;
  }

  &__signout {
    margin-right: 10px;
    line-height: 50px;
    font-size: 15px;
    cursor: pointer;
  }
}

.sidebar {
  display: block;
  position: absolute;
  right: -450px;
  top: 80px;
  line-height: 1.8;
  width: 440px;
  height: 1000px;
  padding: 20px 50px;
  background-color: #EBEBEB;
  transition: right .5s ease;
  z-index: 999;

  &.is-open {
    right: 0;
  }

  a {
    text-decoration: none;
  }

  .login,
  .reg {
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    line-height: 50px;
    text-align: center;
    background-color: #9BBF51;
    border-radius: 25px;
    color: #fff;
    cursor: pointer;
  }

  .reg-question {
    margin-top: 30px;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
  }

  .reg {
    width: 250px;
    margin-top: 20px;
    color: #fff;
    background-color: #408CDD;
  }
}

.show-error,
.show-error-hidden {
  color: #fff;
  border: solid 2px red;
  font-size: 15px;
  text-align: center;
  line-height: 27px;
  height: 30px;
  width: 100%;
  background-color: indianred;
  opacity: 1;
}

.show-error-hidden {
  visibility: hidden;
  opacity: 0;
}
