
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: 'Roboto', sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
}

ol, ul {
  padding-left: 30px
}

body {
  background-color: #fff;
  overflow-x: hidden;
}

input {
  outline: 0;
  border: 0;
}

.container {
  width: 1250px;
  margin: 0 auto;
}
